DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=sm_pinturas
DATABASE_SYNCHRONIZE=false
JWT_SECRET=change_me_in_production
REDIS_HOST=localhost
REDIS_PORT=6379
